        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
          font-family: 'Lato', sans-serif;
          /*font-family: 'Slabo 27px', serif;*/
        }
        #map {
          height: 100%;
          width:100%;
        }
        .controls {
          margin-top: 10px;
          border: 1px solid transparent;
          border-radius: 2px 0 0 2px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          height: 32px;
          outline: none;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }
        #pac-input,#resturant-input {
          background-color: #fff;
          font-size: 15px;
          font-weight: 300;
          margin-left: 12px;
          padding: 0 11px 0 13px;
          text-overflow: ellipsis;
          width: 300px;
          color: #000;
          text-transform: none;
          margin-top: 10px;
        }
        #pac-input:focus {
          border-color: #4d90fe;
        }

        #type-selector {
          color: #fff;
          background-color: #4d90fe;
          padding: 5px 11px 0px 11px;
        }

        #type-selector label {
          font-size: 13px;
          font-weight: 300;
        }
         #target {
            width: 345px;
          }
        nav{
          margin: 0;
          padding: 0;
        }
        .nav-option{
          background-color: #4285f4;
          position: relative;
          opacity: 0.8;
          height: 49px;
        }
        .nav-option ul{
          margin: 0;
          padding:0;
        }
        .nav-option ul li{
          display: inline-block;
          list-style-type: none;
          text-transform: uppercase;
        }
        .nav-option ul li a{
          text-decoration: none;
          color: #fff;
         }
        .nav-option ul li button,
        .nav-option ul li button:focus,
        .nav-option ul li button:active,
        .nav-option ul li button:visited {
          background: transparent;
          box-shadow: none;
          border: none;
          color: #fff;
          font-size: 17px;
          margin: 0;
          padding: 0;
          text-transform: uppercase;
          cursor: pointer;
         }
      
        .nav-option li{
          padding: 15px;
        }
        .nav-option li:hover{
          background: #A3C5FD;
        }
        #current_time, #city, #user_name, #user_profile{
          float: right;
          color: #fff;
          font-size: 18px;
          padding: 15px 15px 0 0;
        }
        #user_name{
          text-transform: uppercase;
          text-decoration: none;
        }
        #user_profile{
          width: 32px;
          border-radius: 5px;
        }
        .profile_details_popup{
          height: 190px;
          width: 500px;
          border:none;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: #fff;
          float: none;
          margin: auto;
          z-index: 2;
          border-radius: 4px;
        }
        .detail_header{
          background: #000;
          padding:10px; 
        }
        .detail-section{
         margin:10px 15px;
         overflow: hidden;
        }
        .detail_header>span{
            font-size: 27px;
            color: #fff;
            padding: 0 10px;
        }
        #name{
          color: #fff;
          text-decoration: none;
          font-size: 22px;
          font-weight: bolder;
          padding: 0;
        }
        #close{
            float: right;
            margin: 5px;
            cursor: pointer;
            background: red;
            color: #fff;
            border-radius: 50%;
            padding: 4px 7px;
            border: 1px solid gray;
            font-weight: bold;
        }
        .overlay{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #000;
            opacity: 0.6;
        }
        .user_profile_data ul li{
          list-style-type: none;
        }
        .profile-img{
          float: left;
          margin: 0 20px 0 0;
        }
        .profile-img img{
          border-radius: 50%;
        }
        .user_profile_data li{
          margin: 20px 0 0 0;
        }
        aside{
          background: #4285f4;
          width: auto;
          max-width: 300px;
          position: absolute;
          left: 0px;
          height: 667px;
          overflow: auto;
          z-index: 2;
          margin: 0;
          padding: 0;
          -webkit-transition: width 2s; /* Safari */
          transition: width 2s;
         opacity: 0.8;
          font-size: 14px;
        }
        aside ul{
          margin:0;
          padding: 0
        }
        #Location_name li{
          display: block;
          color: #e8e8e8;
          opacity: 0.9;
          margin: 5px;
          border-bottom: 1px solid #ccc;
          padding: 5px 0;
        }

        #Location_name li:last-child{
          border-bottom:none;
        }
        .location-name{
          font-weight: bold;
        }
        #Location_name li:hover{
          opacity: 1;
          color: #fff;
          cursor:default; 
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        #place_name:hover {
            animation: spin 1s linear 0s infinite normal;
        }
        #place_name{
          width: 30px;
          border-radius: 50%;
        }
        .weather-forecast{
            position: absolute;
            width: 43%;
            max-height: 72%;
            top: 5%;
            left: 0;
            z-index: 3;
            background: #A9CAFE;
            border-radius: 15px;
            right: 0;
            bottom: 0;
            margin: auto;
            padding: 5px;
            text-align: center;
            font-weight: bold;
            font-size: 26px;
            text-transform: capitalize;
            opacity: 0.8;
            color: #000;
            border:2px solid #555;
            overflow: hidden;
        }
        .weather-icon{
          width: 12%;
          position: absolute;
          top: -2%;
          left: 0%;
        }
        .weather-forecast h1,h2{
          display: inline-block;
        }
        .weather-forecast sup{
          font-size: 23px;
          font-weight: bold;
        }
         .aside_height{
            width: 30px !important;
            box-shadow: 2px 1px 2px 3px #4285f4;
            background: #4285f4;
            color: #4285f4;
            border-radius: 0 1px 0px 0;
            font-size: 12px;
            overflow: hidden;
            opacity: 0.8;
            cursor: pointer;
            height: 130px !important;
            cursor: pointer;
            border-radius: 0 15px;
            position: absolute;
            top: 40%;
        }
        .aside_height > #Location_name > li{
          color: #4285f4;
        }
       #back_btn{
          visibility: hidden;
        }   
      .toggle_btn{
        border: 1px solid #999;
        position: absolute;
        margin: auto;
        top: 10px;
        left: 0;
        right: 0;
        width: 51%;
        font-size: 15px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        height:25px;
      }
      .toggle_btn span{
        cursor: pointer;
        padding: 20px;
        vertical-align: middle;
      }
      .toggle_btn span.active{
        background: #4285f4;
        color: #fff
      }
      .weather_forecasting{
        margin-top:10%;
      }
      .weather_forecasting{
        display: none;
      }
      #forecast_data{
        padding: 0;
      }
      #forecast_data h1{
        margin: 0;
        padding: 0;
      }
      #forecast_data li{
        font-size: 16px;
        list-style-type: none;
        width: 46%;
        float: left;
        padding: 15px 0;
        background: #fff;
        margin: 5px 10px;
        border-radius: 5px;
      }
      #forecast_data li span{
        display: block;
        font-size: 14px;
      }
      .forecast-details{
        overflow: auto;
        max-height: 366px;
        margin-top: 15px;
      }
      .mail_popup{
          position: absolute;
          width: 60%;
          height: 480px;
          overflow: hidden;
          margin: auto;
          left: 0;
          top: 0;
          z-index: 2;
          background: #fff;
          bottom: 0;
          right: 0;
      }
      .mail_box_over_popup{
        height: 427px;
        overflow: auto;
      }
      .mail_list_container{
        padding: 0;
        margin: 0;
      }
      .mail-list{
        list-style-type: none;
        padding: 15px 23px;
        background: #a3c5fd;
        border-bottom: 1px solid #005f9b;
      }
      .mail-list:hover{
        background: #8fd1fc;
      }
      #fb_like_btn{
        overflow: hidden;
        word-wrap: break-word;
        position: absolute;
        top: 30%;
        right: 20%;
      }
      .facebook_img{
        padding: 0 !important;
        height: 35px;
        vertical-align: middle;
      }
      #facebook_profile img{
        border-radius: 5px;
      }
      .facebook_img:hover{
        background: none !important;
      }
/****************************** RESPONSIVE ***************************/
@media(max-width:1024px){
  body{
    background: #4285f4;
  }
  #back_btn{
   visibility:visible;
    visibility: visible;
    color: #fff;
    font-size: 55px;
    padding: 0 15px;
    position: absolute;
    top:-5px;
  }
 #lines { 
   border-bottom: 13px double #fff;
    border-top: 4px solid #fff;
    content: "";
    height: 5px;
    width: 30px;
    position: absolute;
    z-index: 6;
    right: 11px;
    top: 22px;
    cursor: pointer;
    }
  .nav-option{
    display: none;
    height:auto;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 5;
    width: 100%;
    opacity: 0.9;
  }
  .nav-option ul li{
    display: block;
  }
  .nav-option li a{
    color: #000;
  }
  #map{
    top:7%;
  }
  #current_time, #city, #user_name, #user_profile{
    clear: both;
    color: #fff;
    font-size: 18px;
    padding: 15px;
    display: block;
    text-align: right;
  }
  #pac-input, #resturant-input{
    z-index: 0;
    position: absolute;
    left: 110px;
    top: 0%;
    width: 58%;
    height: 34px;
    border-radius: 3px;
  }

   #pac-input{
    left:27% !important;
   }
   #resturant-input{
    left: auto !important;
    top: 7% !important;
    right: 12% !important;
   }
   #resturant-input option{
    width:100%;
   }
  .profile_details_popup{
    height: 323px;
    width: 95%;
  }
  .profile-img{
    margin: 0 20px 0 0;
    display: block;
    /* float: left; */
    text-align: center;
    float: none;
  }
  aside{
    display: none;
    width: 150px;
    font-size: 10px;
    top: 7%;
    opacity: 0.9;
  }
  .weather-forecast{
    width:90%;
    min-height: 60%;
    font-size: 22px;
  }
  .weather-icon{
    top:3%;
    left:43%;
  }
}

@media(min-width: 992px) and (max-width: 1024px){
  #pac-input{
    left:22% !important;
    width:28 !important;
   } 
 #resturant-input{
    top: 0% !important;
    right: 17% !important;
    width:28% !important;
 }
 #pac-input, #resturant-input{
  width:28% !important;
 }
}

@media(min-width: 700px){
  #map{
    height: auto;
  }
}